
<div class="container">

  <div style="color:white;text-align: center;margin-top: 200px;font-family: helvetica">
    <h1>coming soon...</h1>
    <%= mail_to "jeni_galek@yahoo.com", "jennifer@prowessmarketingconsulting.com", :class => "white" %>
  </div>

</div>



