// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



a.white{color:#ffffff;
  text-decoration:none;}
a.white:visited{color:#ffffff;
  text-decoration:none;}
a.white:hover{color: grey;
  text-decoration:none;
}

.image{
  background-image: url("0.png");
}